.bar-header{
    padding-left: 20px;
    font-size: 20px;
}

.email-editor-content{
    margin-bottom: 100px;
}

.save-btn{
    margin-right: 10px;
    font-family: 'Proxima Nova';
    font-size: 20px;
}

.export-btn{
    margin-right: 80px;
    font-family: 'Proxima Nova';
    font-size: 20px;
}

.save-btn:hover{
    cursor: pointer;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

.export-btn:hover{
    cursor: pointer;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

.bar-header:hover{
    cursor: pointer;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}