.footer{
    background-color: black;
    padding-left: 40px;
    height: 100%;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 30px;
    background-color: black;
}

.footer-links{
  display: inline-block;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin: auto;

}

.footer-links a{
    color: white;
    text-align: center;
    padding-right: 10px;
}

.copyright{
    margin: auto;
    padding-top: 15px;
    font-family: 'Roboto Slab';
    color: white;
    font-size: 18px;
    letter-spacing: 1.3px;
}

.copyright-icon{
    padding-right: 6px;
    color: white;
    size: 1000px;
}