.container{
    list-style-type: none;
    display: flex;
    color: white;
}

.Nav{
    background-color: black;
    height: 100%;
    width: 100%;
    padding-top: 1px;
    margin-bottom: 30px;

}

.nav-name{
    display: flex;
    padding: 10px;
    margin-left: 20px;
    margin-right: 100px;
    font-family: 'Proxima Nova';
}

.nav-item{
    padding: 10px;
    margin-left: 15px;
    font-family: 'Proxima Nova';
    color: #9da2a7;
}

.nav-item2{
    padding: 10px;
    margin-left: 15px;
    margin-right: 50px;
    font-family: 'Proxima Nova', sans-serif;
    color: #9da2a7;

}

.nav-signup{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    margin-left: 15px;
    font-family: Montserrat,sans-serif;
}


.nav-name:hover{
    cursor: pointer;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

.nav-item:hover{
    cursor: pointer;
    color: white;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

.nav-item2:hover{
    cursor: pointer;
    color: white;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

.nav-signup:hover{
    cursor: pointer;
    color: white;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}